 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

 @media screen and (min-width: 768px) {}

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   width: 100%;
   height: 100vh;
   background-color: antiquewhite;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
 }

 .box{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;

 }

 header {
   background: #352c44;
   min-height: 80px;
   
 }


 main {
   grid-area: main;
   background-image: url(f4379b75a9badc1bec47ada0b6e3c9f2.jpg);
 }

 footer {
   grid-area: footer;
   display: block;
   background-color: #352c44;
   color: white;
   width: 100%;
   padding: 40px;
   
 }

 nav {
   height: 100%;
   align-items: center;
 }

 .col-6-text-center{
  background-color: #352c44;
 }

 h1 {
  display: inline;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-weight: bold;
   margin: 20px auto;
   font-size: 30px;
   font-family: 'Lora', serif;
 }
ul{
  display: inline-block;
}

li{
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}


 section.organic{
   display: inline-block;
   background-color: #56803b;
   min-height: 200px;
   padding: 40px;
   width: 100%;
 }


 section.recipes {
   display: inline-block;
   background-color: #56803b;
   min-height: 200px;
   padding: 40px;
   width: 100%;
 }


 
 .productos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }


 .circle{
  margin-top: 30px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  background-color: brown;
  border-radius: 50%;
  text-align: center;


  animation-name: mover;
  animation-duration: 3s;

  @keyframes mover{
    0%{
    transform: translate
    }

    100%{

    }
  }


 }