 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

 

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
 }

 .box{
  display: grid;
  width: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;

 }

 header{
   background: #352c44;
   min-height: 80px;
   
 }

 h1, .titulo.principal {
  color: white;
 display: inline ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
   font-weight: bold;
   margin: 20px auto;
   font-size: 30px;
   font-family: 'Lora', serif;
 }

h3{
  color: black;
  display: inline ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
   font-weight: bold;
   margin: 20px auto;
   font-size: 30px;
   font-family: 'Lora', serif;

}
.media{
  color: #F3F4FC;
}

.container{
  color: black;
  padding: 10px;
}
.my-sm-5-d-inline-block-bg-primary{
  color: #F3F4FC;
}

.products.html{
  display: flex;
  justify-content: space-between;
  display: inline-block;
 flex-direction: row;
 background-image: url(b6d987bd67802923300829dbb08633ab.jpg);
 background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: 10rem;
}
img{
 width: 250px;
 height: 220px;
  align-items: center;
}
.img.index{
  width: 800px;
  height: 850px;
}

.button{
  display: flex;
  justify-content: space-between;
}
 nav {
  height: 100%;
  align-items: center;
}


 main {
   grid-area: main;
   background-image: url(f4379b75a9badc1bec47ada0b6e3c9f2.jpg);
 }

 footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #352c44;
  grid-area: footer;
  color: #F3F4FC; }
  footer #redes {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #redes ul {
      position: relative;
      display: flex;
      z-index: 2; }
      footer #redes ul li {
        position: relative;
        list-style: none;
        margin: 0.6rem; }
        footer #redes ul li a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 2.8rem;
          height: 2.8rem;
          color: #F3F4FC;
          font-size: 1.8em;
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2px);
          border-radius: 10px;
          transition: 0.5s;
          overflow: hidden; }
          footer #redes ul li a:hover {
            transform: translateY(-20px); }
          footer #redes ul li a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            transform: skewX(45deg) translateX(150px); }
          footer #redes ul li a:hover::before {
            transform: skewX(45deg) translateX(-150px); }
          footer #redes ul li a .fa-facebook-square:hover {
            color: #3b5998; }
          footer #redes ul li a .fa-instagram:hover {
            color: #b144bb; }
          footer #redes ul li a .fa-twitter-square:hover {
            color: #1da1f2; }
  footer #info {
    display: flex;
    justify-content: center;
    align-items: center;
    
    align-items: flex-end;
    color: #F3F4FC; 
    font-family: 'Lora', serif;
    font-family: 'Source Code Pro', monospace;
    }
    footer, #info, h3, h4{
      font-size: 15x;
    }
  footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center; }


#card {
display: flex;
justify-content: flex-start; }
#card, h2{
  font-family: 'Lora', serif;
  font-family: 'Source Code Pro', monospace;}
#card, p{
  font-family: 'Lora', serif;
  font-family: 'Source Code Pro', monospace;
}
#card, section.organic, section.recipes{
  display: inline-block;
  background-color: #56803b;
  min-height: 200px;
  padding: 40px;
  width: 100%;
}



li, ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}
 
 .productos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   color: black;
   font-family: 'Lora', serif;
   font-family: 'Source Code Pro', monospace;
 }



 
 .circle{
  margin-top: 30px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  background-color: brown;
  border-radius: 50%;
  text-align: center;


  animation-name: mover;
  animation-duration: 3s;

  @keyframes mover{
    0%{
    transform: translate
    }

    100%{

    }
  }

  @media screen and (min-width: 320px) {
    .box {
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "main" "footer"; } }
  
  @media screen and (min-width: 480px) {
    .box {
      grid-template-rows: auto  1fr auto;
      grid-template-areas: "header" "main" "footer"; } }
  
  @media screen and (min-width: 600px) {
    .box {
      grid-template-rows: auto  1fr auto;
      grid-template-areas: "header" "main" "footer"; } }
  
  @media screen and (min-width: 768px) {
    .box {
      grid-template-rows: auto  1fr auto;
      grid-template-areas: "header" "main" "footer"; } }
  
  @media screen and (min-width: 1024px) {
    .box {
      grid-template-rows: auto  1fr auto;
      grid-template-areas: "header" "main" "footer"; } }
  
  @media screen and (min-width: 1200px) {
    .box {
      grid-template-rows: auto  1fr auto;
      grid-template-areas: "header" "main" "footer"; } }

 }